
.App {
  text-align: center;
  background-color: #f8f8fa;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.container {
  width: calc(90% - 300px);
  height: 90%;
  border-radius:  50px;
  background-color: #ffffff;
  display: flex;
  
}

.image-wrapper {
  width:  300px;
  background-image: url('https://images.unsplash.com/photo-1561822713-da02f57225b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=842&q=80');
  height: 100%;
  border-radius:  50px 0 0 50px ;
  }